body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* users css */

.container{
    max-width: 1000px;
    min-width: 500px;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
.row{
    display:flex;
    line-height: 45px;
    border:1px solid #ccc;
}
.col-6{
    width: calc(100% / 6);
    text-align: center;
}
.col-5{
    width: calc(100% / 5);
    text-align: center;
}
.content{
    margin-top: 20px;
}